*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(#3cb371, #42854e);
    background-image: url(Photos/rizalbg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-left-title h2{
    font-weight: 600;
    color:green;
    font-size: 40px;
    margin-bottom: 5px;
}
.contact-left-title hr{
    border: none;
    width: 350px;
    height: 5px;
    background-color: #3cb371 ;
    border-radius: 10px;
    margin-bottom: 20px;
}


.contact-input{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: green;
    border-radius: 50px;
}

 .contact-left textarea{
    height: 140px;
    padding-top:15px;
    border-radius: 20px;
 }
 
 .contact-input:focus{
    border: 2px solid #42854e
 }

.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    gap: 10px;
    border-radius: 50px;
    background: linear-gradient(270deg, #3cb371, #42854e);
    cursor: pointer;
    border: none;
}
.contact-right img{
    width: 600px;
}

@media (max-width: 600px) {
    
    .contact-inputs{
        width:80vh;
    }
    .contact-right{
        display: none;
    }
    
}





